site_name: The VOID Preservation Documentation
theme:
  name: material
  language: en
  palette:
    scheme: slate
    toggle:
      icon: material/weather-night
      name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - content.code.annotate

markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
  - attr_list
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.critic
  - pymdownx.keys
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.magiclink
  - pymdownx.betterem
  - pymdownx.tilde

plugins:
  - search

nav:
  - Home: index.md
  - Hardware:
      - Overview: hardware/index.md
      - RAPTURE Backtop: hardware/RAPTURE_Backtop.md
      - RAPTURE HMD: hardware/RAPTURE_HMD.md
      - RAPTURE Gun: hardware/RAPTURE_Gun.md
      - RAPTURE Battery: hardware/RAPTURE_Battery.md
      - RAPTURE Battery Charger: hardware/RAPTURE_Battery_Charger.md
      - RAPTURE Tracker: hardware/RAPTURE_Tracker.md
  - VOID API:
      - Overview: void-api/index.md
      - SDK Guide: void-api/sdk_guide.md
      - XVoid: void-api/xvoid.md
      - Blueprint Utilities: 
        - Overview: void-api/Blueprint Utilities/index.md
        - IsEmulatorConnected: void-api/Blueprint Utilities/IsEmulatorConnected.md
        - DebugJumpToScenario: void-api/Blueprint Utilities/DebugJumpToScenario.md
  - Games: games/index.md
  - Misc:
    - Overview: misc/index.md
    - Glossary of Jargon: misc/glossary_of_jargon.md
    - Stage Layouts: misc/stage_layouts.md

